{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'clientes/css/indexStyle.css'%}">
  <title>RentGames</title>
</head>
<body class="contenedorGen">
  {% if cliente %}
  <nav class="navbar navbar-expand-lg" style="background-color: #1b1b1b ;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'indexCli' pk=cliente.username %}"><img src="{% static 'clientes/img/Logo/RentGames/LogoB_RentGames.png' %}"
          class="card-img-top rounded-2" alt="" height="48"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'indexCli' pk=cliente.username %}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consolas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'playStationCli' pk=cliente.username %}">PlayStation</a></li>
              <li><a class="dropdown-item" href="{% url 'xboxCli' pk=cliente.username %}">Xbox</a></li>
              <li><a class="dropdown-item" href="{% url 'nintendoCli' pk=cliente.username %}">Nintendo</a></li>
            </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'perfilCli' pk=cliente.username %}">{{cliente.username}}</a>
          </li>
        </ul>
        <form class="d-flex" method="get" role="search" id="form-search">
          <input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="capaGeneral">
    <div class="intr">
      <div class="capaIntrod rounded">
        <h1>¡Bienvenido/a a RentGames!</h1>
        <p>¿Est&aacute;s buscando una p&aacute;gina que ofrezca juegos divertidos y/o entretenidos a buen precio?</p>
        <p>¿Tienes dudas sobre comprar aquel juego que se ve divertido?</p>
        <p>¿No quieres comprar un juego que solo jugaras algunos d&iacute;as?</p>
        <p>S&iacute;, tu respuesta fue un "si" a estas respuestas, pues est&aacute;s en el sitio web adecuado, ya que
          nosotros como pequeña compañ&iacute;a ofrecemos una soluci&oacute;n a estos problemas.</p>
        <p>Y si te preguntas ¿C&oacute;mo solucionaremos vuestro problema? Pues nosotros ofrecemos nuestros servicios
          como un delivery de rentas de videojuegos, entre los cuales podrás encontrar juegos de las
          compañías de 'PlayStation', 'Xbox' y 'Nintendo'.</p>
        <p>Sin olvidar que nuestros precios variaran con respecto a la cantidad de tiempo que desees tener el juego
          rentado.</p>
      </div>
    </div>
    <br>
    <div class="maxAnchura">
      <div class="card-group">
        <div class="card">
          <a href="{% url 'playStationCli' pk=cliente.username %}"><img src="{% static 'clientes/img/Logo/PlayStation/Playstation_logo.png' %}" class="card-img-top"
              alt=""></a>
          <div class="card-body text-primary">
            <h5 class="card-title">PlayStation Consolas</h5>
            <ul class="card-text">
              <li>PlayStation 4</li>
              <li>PlayStation 3</li>
              <li>PlayStation 2</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <a href="{% url 'xboxCli' pk=cliente.username %}"><img src="{% static 'clientes/img/Logo/Xbox/Xbox_logo.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body text-success">
            <h5 class="card-title">Xbox Consolas</h5>
            <ul class="card-text">
              <li>Xbox 360</li>
              <li>Xbox One</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <a href="{% url 'nintendoCli' pk=cliente.username %}"><img src="{% static 'clientes/img/Logo/Nintendo/Nintendo_Logo.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body text-danger">
            <h5 class="card-title">Nintendo Consolas</h5>
            <ul class="card-text">
              <li>Nintendo DS</li>
              <li>Nintendo 3DS</li>
              <li>Nintendo Wii</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="maxAnchura">
      <div class="capaIntrod rounded-top">
        <h1>Nuevos juegos disponibles:</h1>
      </div>
    </div>
    <div class="maxAnchura">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/Xbox/Game_HaloInfinite.jpg' %}" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/Xbox/Game_Halo5Guardians.jpg' %}" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/Nintendo/Game_SuperSmashBros.jpg' %}" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/Nintendo/Game_WiiSportsResort.png' %}" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/PlayStation/Game_Bloodborne.png' %}" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a><img src="{% static 'clientes/img/Juegos/Horizontal/PlayStation/Game_MortalKombatX.png' %}" class="d-block w-100" alt="..."></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
    <br>
    <footer id="capaFooter">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="{% static 'clientes/img/Logo/RentGames/Logo_RentGames.png' %}" alt="" width="24" height="24">
          <small>© 2023–2023</small>
        </div>
        <div class="col-6 col-md">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                  src="{% static 'clientes/img/Logo/RRSS/Logo_Instagram.png' %}" alt="" width="24" height="24"> @RentGames</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                  src="{% static 'clientes/img/Logo/RRSS/Logo_Facebook.png' %}" alt="" width="24" height="24"> @RentGames</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                  src="{% static 'clientes/img/Logo/RRSS/Logo_Twitter.png' %}" alt="" width="24" height="21"> @RentGames</a></li>
            <li class="mb-1">
              <div class="colorBlack">
                <button type="button" class="invisibleButton" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                  <img class="mb-2" src="{% static 'clientes/img/Logo/RRSS/Logo_Mensaje.png' %}" alt="" width="28" height="28"> Mensaje
                  Directo</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Mensaje para RentGames</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Asunto:</label>
                            <input type="text" class="form-control" id="recipient-name">
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Env&iacute;ar Mensaje</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">El equipo</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">La localizaci&oacute;n</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacidad</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terminos</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
</body>

</html>