h1{
    text-align: center;
}
#DisplayFondo{
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_General.jpg');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}
#DisplayFondoPS{
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_PlayStation.jpg');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}
#DisplayFondoXbox{
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_Xbox.jpg');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}

.capaGeneral{
    float: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 12%;
    padding-right: 12%;
}
#CapaIntrod{
    background-color: #c5c5c5;
    border: #141414;
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    color: #ffffff;
    font-size: 16px;
}
.capaEmp{
    float: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
}

.opcion-menu:hover{
    color: #808080;
}
#fondoimgps{
    background-color: #01375a;
}
#fondoimgNint{
    background-color: #b3b3b3;
}
