/*Estilo para el contenedor del Index*/
/*Inicio*/
.contenedorGen {
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_General.png');
    background-size: contain;
    font-family: sans-serif;
    overflow: auto;
}

.contenedorGen h1 {
    font-size: 34px;
    text-decoration: underline;
    text-align: center;
    color: #83beb0;
}

.contenedorGen .intr p {
    font-size: 18px;
    text-align: justify;
    color: #c0bcbc;
}

/*Fin*/
/*Estilo para el contenedor de Login y Register*/
/*Inicio*/
.contenedorLR {
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_General.png');
    background-size: contain;
    font-family: sans-serif;
    overflow: auto;
}

.contenedorPS {
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_PlayStation.png');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}

.contenedorXbox {
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_Xbox.png');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}

.contenedorNint {
    margin: 0;
    padding: 0;
    background-image: url('../img/Fondos/Fondo_Nintendo.jpg');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
}

.capaGeneral {
    float: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 12%;
    padding-right: 12%;
}

.capaIntrod {
    background: #192768;
    border: #141414;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.maxAnchura {
    padding-left: 5%;
    padding-right: 5%;
}

.card-group .card {
    background-color: #ececec;
}

.card-group a img {
    background-color: #ffffff;
}

#capaFooter {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #192768;
    color: #96f5dde0;
}

.capaEmp {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 10px);
}
.capaGame {
    position: absolute;
    left: -5%;
    right: -5%;
    transform: translate(0%, 0%);
}

.colorBlack {
    color: #000;
}

.colorBlack h1 {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.invisibleButton {
    padding: 0;
    margin: 0;
    color: #727272;
    text-decoration: none;
    border: #00000000;
    background-color: #00000000;
}

.invisible {
    background-color: #00000000;
}

#empr_box_PS {
    background-color: #2c5891e1;
    width: 80%;
    padding: 3%;
    margin-bottom: 10%;
    transform: translate(12.5%, 10px);
}

#empr_box_Xbox {
    background-color: #2c914ae1;
    width: 80%;
    padding: 3%;
    transform: translate(12.5%, 10px);
}

#empr_box_Nint {
    background-color: #912c2ce1;
    width: 80%;
    padding: 3%;
    transform: translate(12.5%, 10px);
}

.opcion-menu:hover {
    background: #dd0c0c;
}

@media screen and (max-width: 455px) {
    .contenedorGen h1 {
        font-size: 24px;
    }

    .contenedorGen .intr p {
        font-size: 13px;
    }
}

/*Juegos para carro*/
.contenedor {
    max-width: 1300px;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.contenedor .contenedor-items {
    margin: 2.5% 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

/*Fondo de juegos para compra*/
/*Inicio*/
.backgroudP {
    background: #0b055f;
    background-size: cover;
}

.backgroudX {
    background: #07aa45;
    background-size: cover;
}

.backgroudN {
    background: #aa0707;
    background-size: cover;
}

/*Fin*/
.contenedor .contenedor-items .item .img-item {
    padding-bottom: 3%;
    width: 100%;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    color: #ffffff;
    padding-bottom: 3%;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .consola-item {
    color: #ffffff;
    padding-left: 14%;
    display: block;
    text-align: justify;
    font-weight: bold;
    font-size: 17px;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    font-weight: bold;
    margin: 6px auto;
    border: none;
    color: #fff;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
}

#btnItemPS button {
    background-color: #01073a;
}

#btnItemXB button {
    background-color: #2c914ae1;
}

#btnItemNT button {
    background-color: #d69a18ad;
}

/* seccion carrito */
.carrito {
    background: #f3f3f3;
    border: 1px solid #666;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    padding-left: -10%;
}

.carrito .header-carrito {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#headerCarPS {
    background-color: #021c70e1;
}

#headerCarXB {
    background-color: #2c914ae1;
}

#headerCarNT {
    background-color: #aa0707e0;
}

.carrito .carrito-dias-total {
    text-align: center;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: none;
    max-width: 55px;
}

.carrito .carrito-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 230px));
    grid-gap: 15px;
    grid-row-gap: 15px;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
    color: #ffffff;
}


.carrito .carrito-item .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.carrito .carrito-item .carrito-item-detalles {
    margin: 0;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 10px;
    transition: .3s;
    display: grid;
    grid-template-rows: 1fr auto 40px;
}

.carrito .carrito-item .carrito-item-detalles img {
    margin-right: 20px;
    margin-bottom: 12px;
    width: 100%;
}

.carrito .carrito-item .carrito-item-detalles .carrito-item-titulo {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .carrito-item-detalles .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .carrito-item-detalles .generacion{
    border: #000e3a;
    background: #ffffff;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
}
.carrito .carrito-item .carrito-item-detalles option{
    background: #ffffff;
    color: #000000;
}

.carrito-total {
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.carrito-total .fila input{
    color: #000;
}

.carrito-total .btn-pagar {
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.02;
}

#btnPagPS {
    background-color: #001046;
}

#btnPagXB {
    background-color: #2c914af3;
}

#btnPagNT {
    background-color: #aa0707;
}

@media screen and (max-width: 455px) {
    .carrito-total .fila {
        font-size: 13px;
    }

    .carrito-total .btn-pagar {
        font-size: 13px;
        padding: 10px;
    }

    .carrito .carrito-dias-total {
        max-width: 30px;
    }
}

@media screen and (max-width: 920px) {
    .contenedor .contenedor-items .item:hover {
        scale: 1.03;
    }

    @media screen and (max-width: 610px) {
        .contenedor .contenedor-items .item:hover {
            scale: 1.01;
        }
    }
}



#SectionLogReg {
    padding-left: 5%;
    padding-right: 5%;
}

/*Box Login*/
.login_box {
    width: 360px;
    height: 0%;
    background: #000000;
    color: #ffffff;
    left: 50%;
    position: relative;
    transform: translate(-50%, 30%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.form-floating:not(.form-control:disabled)::before {
    width: 0px;
}

.login_box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login_box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login_box label {
    margin: 0;
    padding: 0;
    display: block;
}

.login_box input {
    width: 100%;
    margin-bottom: 20px;
}

.login_box input[type="text"],
.login_box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login_box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #640477;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login_box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkorchid;
}

@media screen and (max-width: 320px) {
    .login_box {
        display: block;
        width: 100%;
        height: 50%;
    }
}

/*Box Register*/
.register_box {
    width: 380px;
    height: 0%;
    background: #000;
    color: #fff;
    left: 50%;
    position: relative;
    transform: translate(-50%, 15%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.register_box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.register_box h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.register_box label {
    margin: 0;
    padding: 0;
    display: block;
}

.register_box input {
    width: 100%;
    margin-bottom: 20px;
}

.register_box input[type="text"],
.register_box input[type="password"],
.register_box input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.register_box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #640477;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.register_box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkorchid;
}

@media screen and (max-width: 380px) {
    .register_box {
        display: block;
        width: 100%;
        height: 75%;
    }
}