{% extends "clientes/blockGlobal/base.html" %}
{% load static %}

{% block cssRG %}
<link rel="stylesheet" href="{% static 'guests/css/indexStyle.css'%}">
{% endblock cssRG %}

{% block className %}
  class="contenedorGen"
{% endblock className %}

{% block contenido %}
<section class="capaGeneral">
  <div class="intr">
    <div class="capaIntrod rounded">
      <h1>¡Bienvenido/a a RentGames!</h1>
      <p>¿Est&aacute;s buscando una p&aacute;gina que ofrezca juegos divertidos y/o entretenidos a buen precio?</p>
      <p>¿Tienes dudas sobre comprar aquel juego que se ve divertido?</p>
      <p>¿No quieres comprar un juego que solo jugaras algunos d&iacute;as?</p>
      <p>S&iacute;, tu respuesta fue un "si" a estas respuestas, pues est&aacute;s en el sitio web adecuado, ya que
        nosotros como pequeña compañ&iacute;a ofrecemos una soluci&oacute;n a estos problemas.</p>
      <p>Y si te preguntas ¿C&oacute;mo solucionaremos vuestro problema? Pues nosotros ofrecemos nuestros servicios
        como un delivery de rentas de videojuegos, entre los cuales podrás encontrar juegos de las
        compañías de 'PlayStation', 'Xbox' y 'Nintendo'.</p>
      <p>Sin olvidar que nuestros precios variaran con respecto a la cantidad de tiempo que desees tener el juego
        rentado.</p>
    </div>
  </div>
  <br>
  <div class="maxAnchura">
    <div class="card-group">
      <div class="card">
        <a href="{% url 'playStationGue' %}"><img src="{% static 'guests/img/Logo/PlayStation/Playstation_logo.png' %}" class="card-img-top"
          alt=""></a>
        <div class="card-body text-primary">
          <h5 class="card-title">PlayStation Consolas</h5>
          <ul class="card-text">
            <li>PlayStation 4</li>
            <li>PlayStation 3</li>
            <li>PlayStation 2</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <a href="{% url 'xboxGue' %}"><img src="{% static 'guests/img/Logo/Xbox/Xbox_logo.png' %}" class="card-img-top" alt="..."></a>
        <div class="card-body text-success">
          <h5 class="card-title">Xbox Consolas</h5>
          <ul class="card-text">
            <li>Xbox 360</li>
            <li>Xbox One</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <a href="{% url 'nintendoGue' %}"><img src="{% static 'guests/img/Logo/Nintendo/Nintendo_Logo.png' %}" class="card-img-top" alt="..."></a>
        <div class="card-body text-danger">
          <h5 class="card-title">Nintendo Consolas</h5>
          <ul class="card-text">
            <li>Nintendo DS</li>
            <li>Nintendo 3DS</li>
            <li>Nintendo Wii</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="maxAnchura">
    <div class="capaIntrod rounded-top">
      <h1>Nuevos juegos disponibles:</h1>
    </div>
  </div>
  <div class="maxAnchura">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/Xbox/Game_HaloInfinite.jpg' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/Xbox/Game_Halo5Guardians.jpg' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/Nintendo/Game_SuperSmashBros.jpg' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/Nintendo/Game_WiiSportsResort.png' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/PlayStation/Game_Bloodborne.png' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a><img src="{% static 'guests/img/Juegos/Horizontal/PlayStation/Game_MortalKombatX.png' %}" class="d-block w-100" alt="..."></a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
  <br>
  {% block footer %}
    {% include "clientes/blockGlobal/footer.html" %}
  {% endblock %}
</section>
{% endblock contenido %}