{% load static %}

<div class="row">
</div>
<footer id="capaFooter">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'guests/img/Logo/RentGames/Logo_RentGames.png' %}" alt="" width="24" height="24">
        <small>© 2023–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Redes Sociales</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                src="{% static 'guests/img/Logo/RRSS/Logo_Instagram.png' %}" alt="" width="24" height="24"> @RentGames</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                src="{% static 'guests/img/Logo/RRSS/Logo_Facebook.png' %}" alt="" width="24" height="24"> @RentGames</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2"
                src="{% static 'guests/img/Logo/RRSS/Logo_Twitter.png' %}" alt="" width="24" height="21"> @RentGames</a></li>
          <li class="mb-1">
            <div class="colorBlack">
              <button type="button" class="invisibleButton" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                <img class="mb-2" src="{% static 'guests/img/Logo/RRSS/Logo_Mensaje.png' %}" alt="" width="28" height="28"> Mensaje
                Directo</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Mensaje para RentGames</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Asunto:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Mensaje:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Env&iacute;ar Mensaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sobre</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">El equipo</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">La localizaci&oacute;n</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacidad</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terminos</a></li>
        </ul>
      </div>
    </div>
</footer>