{% extends "clientes/blockGlobal/base.html" %}
{% load static %}

{% block cssRG %}
  <link rel="stylesheet" href="{% static 'administrador/css/adminStyle.css'%}">
  <link rel="stylesheet" href="{% static 'administrador/css/editGameStyle.css'%}">
{% endblock cssRG %}

{% block scriptsHead %}
  <script src="{% static 'administrador/js/ConsolaGames/myJuegosDjango.js'%}"></script>
{% endblock scriptsHead %}

{% block scriptsBody %}
  <script src="{% static 'administrador/js/ConsolaGames/myEditGame.js'%}"></script>
{% endblock scriptsBody %}

{% block contenido %}
{% if user.is_superuser %}
<div class="capaEmp" id="capaGame">
  <div id="conten-nro-catalo">
    <input type="number" id="btnNroCatalo" value="1">
    {% if consolas %}
    <select class="rounded-3" id="selectFilter">
      <option value="0" selected>Todos</option>
      {% for consola in consolas %}
        <option value="{{consola.idConsola}}">{{consola.nombre}}</option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
  <section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items" id="btnItem">
    </div>
    {% csrf_token %}
  </section>
</div>
<div class="editJuego_Fondo rounded-4" id="editJuego_Fondo">
  <div class="editJuego_Box rounded-4" id="editJuego_Box" style="display:none;">
    <img src="" class="avatar" alt="Avatar Image">
    <h2 class="titulo">Añadir juego</h2>
    <form class="form-update" action="DML" enctype="multipart/form-data" method="POST" name="editGame" id="editGame">
      {% csrf_token %}
    </form>
    <button class="btn-cancel" id="btn-cancel">Cancelar</button>
  </div><br>
</div>
{% endif %}
{% endblock %}