{% extends "clientes/blockGlobal/base.html" %}
{% load static %}

{% block cssRG %}
  <link rel="stylesheet" href="{% static 'administrador/css/adminStyle.css'%}">
{% endblock cssRG %}

{% block scriptsHead %}
  <script src="{% static 'administrador/js/ConsolaGames/myJuegos.js'%}"></script>
{% endblock scriptsHead %}

{% block scriptsBody %}
  <script src="{% static 'administrador/js/ConsolaGames/myEditGame.js'%}"></script>
{% endblock scriptsBody %}

{% block contenido %}
{% if user.is_superuser %}
<div class="capaEmp">
    <div id="conten-nro-catalo">
      <input type="number" id="btnNroCatalo" value="1">
    </div>
    <section class="contenedor">
      <!-- Contenedor de elementos -->
      <div class="contenedor-items" id="btnItem">
  
      </div>
    </section>
    <div class="addJuego" id="addJuego">
    <form class="formulario" action="" enctype="multipart/form-data" method="POST" name="AddGame" id="AddGame">
      {% csrf_token %}
    </form>
    </div><br>
</div>
{% endif %}
{% endblock %}